.nav-bar{
    display: flex;
    padding: 10px;
    font-size: 25px;
}

.nav-links{
 margin-left: auto ;
 display: flex;
 gap: 30px;
}
.link{
    text-decoration: none;
    color: inherit;
}
.link:hover{
    color: var(--secondary-color);   
}
/* .unselected{
    text-decoration:none;
    color:inherit;
} */
.selected{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
/* .selected:hover{
    color: blue;
} */