:root{
  --primary-color: black;
  --cta-color:rgba(0, 0, 0, 0.122);
  --secondary-color:rgb(0,0,0,0.5);
} 
.App {
  text-align: center;
  color: var(--primary-color);
  font-family: poppins, sans-serif;
}

img{
  height: 100%;
  width: 100%;
}

.main{
  max-width: 900px;
  margin: 0 auto;
}
.profile{
  display: flex;
  width: 100%;

}
.profile-img-container{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, transparent, rgb(0,0,0,0.3));
}
.profile-img{
    object-fit: fill;
    border-radius: inherit;
}
